.DeleteCustomer {
    height: 100%;
    font-weight: 600;
    font-size: large;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.DeleteCustomer .wrapper {
    margin-top: 50px;
    background-color: var(--color-white-2);
    padding: 10px;

}
.DeleteCustomer button {
    width: 150px;
    height: 30px;

}
.DeleteCustomer .cancel {
    background-color: #adb2b7;
}
.DeleteCustomer .yes {
    background-color: #e84343;
}
.DeleteCustomer .gap {
    gap: 10px;
}
